.messageSucces{
    border: 1px solid green;
    color: green;
    padding: 5px;
    background-color: rgb(189, 241, 189);
    width: 70%;
    margin: 30px auto;
}

.messageError{
    border: 1px solid rgb(250, 34, 34);
    color: rgb(128, 0, 0);
    padding: 5px;
    background-color: rgb(255, 180, 180);
    width: 70%;
    margin: 30px auto;
}